.app-container {
  background-color: rgb(56, 55, 55);
  width: 100%;
  color: white;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(56, 55, 55);
}

