.threads-header {
  text-align: center;
}

.video-game-forum-top {
  margin-top: 25px;
}

.post {
    margin: 50px;
    padding: 15px; 
    width:80vh;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    text-align: center;
    background-color: rgb(51, 51, 53);
  }
  
  h3 {
    text-align: center;
  }

  .post h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .post p {
    margin-bottom: 5px;
  }
  
  .post .author {
    font-style: italic;
    color: #666;
  }
  
  .post .created-at {
    font-size: 14px;
    color: #999;
  }
   
  .forum-card-container {
    display: flex;
    justify-content: center;
  }