.item {
  
  color: black;
  border-radius: 10px;
  position: relative;
 background-color: rgb(167, 156, 184);
  box-shadow: 0 0 10px #ff00ff; /* Neon pink box shadow */
  animation: neonBorder 1.5s ease-in-out infinite alternate;
  margin-bottom: 20px;
}

@keyframes neonBackground {
  from {
    background-color: #ca99f8; /* Start with white background */
  }
  to {
    background-color: #ff00ff; /* End with neon color */
  }
}

@keyframes neonBorder {
  from {
    box-shadow: 0 0 10px #fff; /* Start with white box shadow */
  }
  to {
    box-shadow: 0 0 10px #ff00ff; /* End with neon pink box shadow */
  }
}

.platforms {
  text-align: center;
}

.rating-container, .released-container {
  display: flex;
  align-items: center;
}

.rating-label {
  margin-right: 110px; 
  margin-left: 25px;
  font-weight: bold;
  color: black;
}


.released-label {
  margin-right: 60px; 
  margin-left: 25px;
  font-weight: bold;
  color: black;
}

.game-name {
  font-size: 25px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  
}

.button-container {
  display: flex;
  justify-content: center;
}

.wishlist-button,
.currently-playing-button {
  cursor: pointer;
  margin-right: 10px;
  width: 50px;
}

.wishlist-button {
  width: 35px;
}

.game-image {
  border-radius: 5px;
  max-height: 168.75px;
}



.search-group {
display: flex;
justify-content: center; 
margin-bottom: 20px;
margin-top: 50px;
align-items: center;
}


.search-bar {
  border-radius: 10px;
  height: 35px;
  width: 300px;
  
}

.search-button {
  border: none; 
  border-radius: 10px;
  height: 35px;
  width: 80px;
  background-color: rgb(167, 156, 184);
  color: white;
  cursor: pointer; 
  margin-left: 10px; 
}

.search-button:hover,
.search-button:focus {
  background-color: #cc00cc; 
}

.currently-playing-title, .wishlist-title {
 background-color: #04E8AD;
 box-shadow: 0 0 10px #13b587;
  animation: neonBorder 1.5s ease-in-out infinite alternate;
 border-radius: 10px;
 color: black;
 font-style: italic;
 
}

.currently-playing-title {
  width: 350px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.wishlist-title {
  width: 190px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.icon-image {
  width: 50px;
  margin-left: 5px;
}

.icon-image-2 {
  width: 45px;
  margin-left: 10px;
}

.username-title {
  box-shadow: 0 0 10px #13b587; 
  animation: neonBorder 1.5s ease-in-out infinite alternate;
  width: 340px;
  border-radius: 10px;
  padding-left: 5px;
}

@media (max-width: 400px) {
  .game-image {
    max-height: 100%;
  }
  .rating, .released {
    margin-left: 60px;
  }
 }

 @media (max-width: 767px) {
  .game-image {
    max-height: 100%;
  }
  .rating, .released {
    margin-left: 60px;
  }
 }